body{
	margin:0;
	padding:0;
}

nav.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

nav.hmenu li {
  display: inline;  
}

p.notice {
  color: green;
}

p.alert {
  color: red;  
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

input[type="radio"]{
	display:none;
}

input[type="radio"]:checked + img{
	border:solid 3px grey;
	margin:-3px;
}

.hmenu {
	float:right;
}

#title{
	font-size:20px;
}
header.main{
	margin:0;
	padding:20px;
	background:grey;
	color:white;
	border-bottom:solid black 1px;
}
header.main a {
	color:white;
	text-decoration:none;
}
header.main a:visited {
	color:white;
	text-decoration:none;
}
.index_picture_buttons, .show_picture_buttons, .index_project_buttons, .show_project_buttons{
	display:none;
}
article[class^="index"]{
	width:75px;
	float:left;
	position:relative;
}

article[class^="index"] img{
	width:75px;
}

article[class^="index"] header{
	background-color:grey;
	width:75px;
	height:75px;
	display:none;
	
}
article[class^="index"]:hover header{
	display:block;
	position:absolute;
	color:white;
	top:0;
}
header.main a.alert {
  color: red;
text-decoration:underline;
}
