
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-family:arial;
}
div, article, footer{display:block;}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
	font-family:'Arvo';
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}

body { background-color: white; color: #333; }

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
a{
	text-decoration:none;
	color:#333;
}
a:hover{
	text-decoration:underline;
}

.container{
	clear:both;
	width:940px;
	margin:0 auto;
	padding:60px 0 0 0;
}

nav.hmenu {
  list-style: none;	
  padding: 0;
}

nav.hmenu li {
  float: left;  
}

#menubar{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	height:40px;
	border-top:solid 1px #67605c;
	border-bottom: dotted 1px #67605c;
	position:relative;
	font-size:20px;
	
}
.hmenu {
	height:40px;
	display:block;
	font-weight:light;
	font-family:'Arvo';
	width:640px;
	text-align: center;
	
	margin-left:auto;
	margin-right:auto;
}
#shadowButton{
	font-family:'Arvo';
	position:absolute;
	right:10px;
	top:12px;
	opacity:0.5;
}
.hmenu.small{
	width:480px;
}
.hmenu li{
	
	margin:5px;
	margin-top:13px;

}
.hmenu li a {
	font-family:'Arvo';
}
p.notice {
  color: green;
	font-size:20px;
	font-family:'Arvo';
}

p.alert {
  color: red; 
	font-size:20px;
	font-family:'Arvo'; 
}
.alerts{
	margin-top:40px;
	width:960px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	position:relative;
	font-size:20px;
	font-family:'Arvo';
}
.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.functions{
	font-size:40px;
	font-family:'Arvo';
	float:left;
	width:450px;
	height:200px;
	
}

.signupDiv{
	width:450px;
	float:right;
	height:200px;
	text-align:center;
}
.signupDiv a{
	margin-top:75px;
	font-size:50px;
	font-family:'Arvo';
	display:block;
}

.functions ul{
	margin-top:40px;
	margin-left:35px;
	font-size:40px;
	list-style-type:square;
	
	
}

.functions li{
	height:50px;
	font-family:'Arvo';
}
#account{
	margin-left:35px;
	font-size:20px;
	
	list-style-type:square;
	
}
#account li{
	margin:5px;	
}
#account li a{
	
	font-family:'Arvo';
}
input[type="radio"]{
	display:none;
}

input[type="radio"]:checked + img{
	border:solid 3px grey;
	margin:-3px;
}



#title{
	position:relative;
	height:130px;
	width:200px;
	margin-left:auto;
	margin-right:auto;
	display:block;

	
	
}
#title img{
	width:200px;
	position:absolute;
	bottom:0;
}
#title a{
	text-decoration:none;
	color:white;
}
#title span{
	font-size:80px;
	color:white;
	position:absolute;
	font-family:'Arvo';
	bottom:35px;
	left:58px;
}
header.main{
	height:170px;
	margin:0;
	position:relative;
	color:#333;
}
header.main a {
	color:#333;
	text-decoration:none;
}
header.main a:hover{
	text-decoration:underline;
}
header.main a:visited {
	color:#333;
	text-decoration:none;
}
header.main a:active{
	text-decoration:underline;
}
.index_picture_buttons, .show_picture_buttons, .index_project_buttons, .show_project_buttons{
	display:none;
}
article[class^="index"], article[class^="admin"]{
	font-size:11px;
	width:200px;
	margin-left:17px;
	margin-right:17px;
	height:200px;
	overflow:hidden;
	float:left;
	position:relative;
}
article[class^="index"] div, article[class^="admin"] div{
	width:200px;
	height:134px;
	overflow:hidden;

	position:relative;
	background:grey;
}

article[class^="index"] div a[rel^="shadowbox"]{
	display:none;
}

article[class^="index"] img, article[class^="admin"] img{	
	min-width:200px;
	min-height:134px;
}
article[class^="show"]{
	width: 960px;
}
article[class^="show"] img{	
	width:800px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

article[class^="index"] header a, article[class^="admin"] header a{
	font-size:11px;
	color:#333;
	text-decoration:none;
	font-family:arial;
	
	
}
article[class^="index"] header{
	font-family:arial;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	transition-property: all; 
	transition-duration: 0.5s; 
	margin:2px;
	color:#333;
	opacity:0;
	z-index:-5;
	position:absolute;
	top:20px;
	
}
article[class^="admin"] header{
 font-family:arial;
	margin:2px;
	color:#333;
	position:absolute;
	top:134px;
	
}

article[class^="index"]:hover header{
	top:134px;
	opacity:1;
}
header.main a.alert {
  color: red;
	text-decoration:underline;
}
.container.project, .container.pictures{
	padding:20px 0 0 0;
}
.container.project h2{
	margin-bottom:20px;
}
.container.project a {
	font-size:15px;
	color:#333;
	opacity:0.5;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	transition-property: all; 
	transition-duration: 0.5s;
}

.container.project a:hover {
	opacity:1;
	
}

header{
	font-family:'Arvo';
	margin-top:10px;
	clear:both;
}
header a{
	font-family:'Arvo';
}
header[class^="show"] h2{
	
	margin-bottom:15px;
}
header[class^="show"]{
	font-size:20px;
	margin-bottom:20px;
}
header[class^="show_picture"]{
	float:right;
}

footer{
	clear: both;
	height:100px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	font-family:'Arvo';
	border-top:1px solid #67605c;
	margin-top:30px;
	padding-top:5px;
	margin-bottom:20px;
}
#footerAbout{
	float:right;
	margin-right:20px;
}


#devise_form{
	width:500px;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	font-family:'Arvo';
}
#devise_form h2{
	margin-bottom:30px;
}

#devise_form label{
	font-size:20px;
	font-family:'Arvo';
}
#devise_form input[type="text"],#devise_form input[type="password"] {
	height:25px;
	margin:5px;
	width:400px;
	font-size:20px;
}
#devise_form form{
	margin-bottom:25px;
	margin-top:25px;
}

input[type="submit"]{
	margin:10px;
	font-family:'Arvo';
	font-size:20px;
	background:#67605c;
	border:none;
	padding:10px 20px 10px 20px ;
}