<% @users.each do |user| %>
<article class="index_users">
  		<div><%= link_to image_tag(user.last_picture), user%></div>
<header><%= link_to user.name, user %></header>
</article>
<% end %>
<%= will_paginate @users %>