<% @pictures.each do |picture| %>
	<article class="admin_picture">
	<div><%=link_to image_tag(picture.url_m) , picture.url_b , :rel=>'shadowbox[cat]'%></div>
	<header><%= link_to 'Edit', edit_picture_path(picture) if user_owns? picture%> I
    <%= link_to 'Destroy', picture, :confirm => 'Are you sure?', :method => :delete if user_owns? picture %></header>
	</article>
<% end %>