<% if user_signed_in? && current_user.authenticated_to_flickr? %>
 
<% elsif user_signed_in? %>
  <li>
  <%= link_to('Authenticate to Flickr!', authentications_path, :class=> 'alert') %>
  </li>
<% end %>